<h1 class="text-center">
  Welcome to 25Tweets
</h1>
<h5 class="text-center">
  You need to <%= link_to 'log in', new_user_session_path %> or <%= link_to 'sign up', new_user_registration_path %> to continue.
</h5>
